header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 2rem;
}

i:hover,
i:active,
i:focus {
  color: rgb(1, 189, 255);
}

// logos

.logos {
  position: absolute;
  bottom: 0;
  left: 56%;
  transform: translateX(-50%);
  width: 1rem;
}

@media (min-width: 1150px) {
  .logos {
    width: 40px;
    height: 28px;
  }
}

.react-container {
  font-family: "Roboto", sans-serif;
  color: #61dafb;
  letter-spacing: -0.01px;
  font-size: 1.2rem;
}

.react-container:hover {
  color: #47a3bc;
}

.second-tool-container {
  color: #1f1f1f;
  position: relative;

  &::after {
    content: ".";
    color: #fdfdfd;
    position: absolute;
    right: -12px;
  }

  a {
    color: transparent;
  }
}

.logo-container:hover {
  color: #1f1f1f;
}

.logos.secondtool {
  left: 50%;
  margin-left: 2px;
}

.logos.secondtool:hover,
.logos.secondtool:focus,
.logos.secondtool:active {
  -webkit-filter: hue-rotate(106deg);
  filter: hue-rotate(106deg);
}

@media (min-width: 1150px) {
  .logos.secondtool {
    width: 20px;
    height: 20px;
  }
}
